#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-2 P {
  color: #ffffff;
}
#msg-box4-a .mbr-header__text {
  color: #ffffff;
}
#msg-box4-a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a .mbr-article {
  color: #ffffff;
}
#content5-k .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-k .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-k .mbr-article {
  color: #fff;
}
#content5-k .mbr-article P {
  text-align: left;
}
#msg-box3-p .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-p .mbr-article P {
  text-align: center;
}
#msg-box3-o .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-o .mbr-article P {
  text-align: center;
}
#features1-m P {
  text-align: center;
}
